*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #101B23;
}

.container{
    text-align: center;
    background-color: #223541;
    width: 500px;
    height: max-content;
    margin: 100px auto 0;
    padding-bottom:30px ;
    
}

.card{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
h1 {
    text-align: center;
    color: aqua;
    padding: 20px;
    gap: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 img{
    width: 50px;
    padding: 10px;
    background-color: #192831;
    
}
.row{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box{
    margin: 4px;
    width: 100px;
    height: 100px;
    text-align: center;
    background-color: #192831;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

#btn{
    background-color: #192831;
    color:aqua;
    padding: 9px;
    cursor: pointer;
    border-radius: 10px;
    margin: 40px auto 0;
}

.box img{
    width: 60%;
    
}